* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.top-coantainer {
  width: 100%;
  height: 45rem;
}

.slider {
  width: 20%;
  height: 96%;
  margin-left: 2rem;
  margin-top: 1rem;
  display: inline-block;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.slider-img img{
  width: 100%;
}

.slider-text{
  text-align: center;
  padding-top: 4rem;;
}

.navbar {
  width: 74%;
  height: 12%;
  margin-top: 1rem;
  margin-right: 2rem;
  display: inline-block;
  float: right;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.nav-icon {
  font-size: 60px;
  position: absolute;
  top: 6px;
  left: 25px;
}

.nav-icon:hover{
  font-size: 62px;
  position: absolute;
  top: 6px;
  left: 25px;
}

.nav-item {
  font-size: 18px;
  float: right;
  margin-top: 1rem;
}

.nav-item a, p {
  display: inline-block;
  text-decoration: none;
  padding: 2px;
}

.side-box {
  width: 74%;
  height: 82%;
  display: inline-block;
  float: right;
  margin-right: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-top: -37rem;
}

.icolor{
  color: #009688!important;
}

.sb-text{
  margin: 2rem;
}
